.layout {
  background: linear-gradient(rgb(91, 70, 129), rgb(18, 15, 196));
}
.login-page {
  width: 400px;
  border: 1px solid rgba(128, 128, 128, 0.274);
  padding: 2rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.349);
  margin: auto;
  box-shadow: -5px 5px 15px 5px rgba(219, 219, 219, 0.596);
}

.form {
  background: white;
  border-radius: 5px;
  padding: 1rem;
  min-height: 100px;
  box-shadow: -5px 5px 15px 5px grey;
}

.table {
  margin-top: 2rem ;
  background: white;
  border-radius: 5px;
  padding: 1rem;
  min-height: 100px;
  box-shadow: -5px 5px 15px 5px grey;
}
